.main{
    display: flex;
    gap: 500px;
    background-color: rgb(255, 255, 255);
}
.sidebar{
    background-color: rgb(174, 174, 174);
    height: 100vh;
    width: 50vh;
}
.addproduct > button {
    padding: 8px 40px;
    border-radius: 2px;
    border: none;
}
.logout{
    padding-top: 100px;
}