.main{
    display: flex;
    gap: 200px;
    background-color: rgb(255, 255, 255);
    
}
.sidebar{
    background-color: rgba(170, 196, 198, 0.753);
    height: 100vh;
    padding: 30px;
    width: 50vh;
}
.addproduct > button {
    padding: 10px 40px;
    border-radius: 2px;
    border: none;
    background-color: rgb(30, 166, 190);
    color: aliceblue;
}
.logout{
    padding-top: 100px;
   
}
.logout > button {
    background-color: brown;
    color: white;
    padding: 8px 40px;
    border: none;

}
